[Desktop Entry]
Type=Application
Name=WE2002 Editor
GenericName=CD Image Editor
Comment=Edit teams, players, tactics, kits and flags in a Winning Eleven 2002 CD image
Exec=we2002 %f
Icon=we2002
Terminal=false
Categories=Game;
Keywords=winning eleven;pro evolution soccer;playstation;psx;rom;
